<h2>Categories: </h2>
<% @categories.each do |category| %>
    <p><%= link_to category.category, questions_category_path(category) %></p>
<% end %>

<h1>Ask your question:</h1>

<%= form_for :question, url: questions_path do |f| %>
    <p>
      <%= f.label :question %><br/>
      <%= f.text_area :question, class: "form-control", style: "width: 50%; height: 100px" %>
    </p>
    <% if !(user_signed_in?) %>
        <p>
          <%= f.label :username %><br/>
          <%= f.text_field :username, class: "form-control", style: "width: 40%;" %>
        </p>
    <% end %>
    <p>
      <%= f.label :category_id %><br/>
      <%= f.collection_select :category_id, Category.all, :id, :category, {}, {class: "form-control", style: "width: 30%;"} %>
    </p>
    <p>
      <%= f.submit class: "btn btn-info" %>
    </p>
<% end %>

<% @questions.each do |question| %>
    <h2><%= simple_format(question.question) %></h2>
    <p>Category: <%= question.category.category %></p>
    <p class="attributes">Written by <%= question.username %></p>
    <p><%= link_to 'Answers', question_path(question) %> (<%= question.comments.count %>)</p>
<% end %>