<h1><%= @article.title %></h1>
<p><%= simple_format(@article.text) %></p>
<p class="attributes">Posted by <%= link_to @article.username, user_path(@article.user_id) %></p>
<h2>Comments (<%= @article.comments.count %>):</h2>
<% @article.comments.each do |comment| %>
    <p><%= comment.text %></p>
    <p class="attributes">Commented by <%= comment.username %></p>
    <hr/>
<% end %>
<br/>

<% if user_signed_in? %>
    <h2>Write a comment:</h2>
    <%= form_for ([@article, @article.comments.build]) do |f| %>
        <p>
          <%= f.label :text %><br/>
          <%= f.text_area :text, class: "form-control", style: "width: 50%; height: 100px" %>
        </p>
        <p>
          <%= f.submit class: "btn btn-info" %>
        </p>
    <% end %>
<% end %>