<h2><%= @user.username %></h2>

<p><%= image_tag @user.avatar.url(:thumb) %></p>

<p>
  <%= link_to 'Articles', articles_user_path  %> |
  <%= link_to 'Questions', questions_user_path  %>
</p>
<% if current_user.email == @user.email %>
  <p>
    <%= link_to 'Edit', edit_user_path(current_user) %>
  </p>
<% end %>