<h1><%= @user.username %></h1>

<%= image_tag @user.avatar.url(:thumb) %>

<% @articles.each do |article| %>
    <h2><%= article.title %></h2>
    <p><%= article.text %></p>
<% end %>
<% @questions.each do |question| %>
    <h3><%= question.question %></h3>
<% end %>