<!DOCTYPE html>
<html>
<head>
  <title>MyFirstSite</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

  <!-- Latest compiled and minified JavaScript -->
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container header">
  <div class="row">
    <div class="col-xs-2">
      <h2>Banner</h2>
    </div>
    <div class="col-xs-8">
      <h2><%= @page %></h2>
    </div>
  </div>
</div>

<div class="container">
  <br/>
  <div class="row">
    <div class="col-xs-2">
      <!--for devise-->
      <p><u><%= link_to current_user.username, user_path(current_user), style: "font-size: 115%; color: black;" if user_signed_in? %></u></p>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <!--end for devise-->
      <ul class="nav nav-pills nav-stacked">
        <li><%= link_to 'Home', root_path %></li>
        <li><%= link_to 'Articles', articles_path %></li>
        <li><%= link_to 'New Article', new_article_path %></li>
        <li><%= link_to 'Questions', questions_path %></li>
        <li><%= link_to 'New Question', new_question_path %></li>
        <li><%= link_to 'About', about_path %></li>
        <li>
          <% if user_signed_in? %>
              <%= link_to 'Sign out', destroy_user_session_path, :method => :delete %>
          <% else %>
              <%= link_to 'Sign in', new_user_session_path %>
          <% end %>
        </li>
      </ul>
    </div>

    <div class="col-xs-8">

    <%= yield %>

    </div>

    <div class="col-xs-2"></div>
  </div>
</div>
</body>
</html>
